  <footer class="site-footer">
    <div class="container">
      <p>
        &copy; <%= new Date().getFullYear() %> <%= profile.name %>. All rights reserved.
      </p>
    </div>
  </footer>
  </body>
  </html>


